[Unit]
Description=My Node.js Script
After=network.target

[Service]
ExecStart=/usr/bin/node /root/WORK/Forwarder/Forwarder.js
WorkingDirectory=/root/WORK/Forwarder
Restart=always
User=your_username
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target